# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
db.sqlite3
*.db

# Environment variables
.env
.env.local

# Google API credentials (ADD THESE LINES)
credentials.json
token.json
token.pickle

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

#Redis cache
*.rdb
*.aof
*.log
*.rdb.gz
*.aof.gz
